<h1>Парамазян Г.А. ИУ6#35Б</h1>
<p>Задание: С клавиатуры вводится последовательность чисел через пробел. Необходимо вычислить среднее арифметическое уникальных элементов последовательности и вывести его на печать. Подразумевается, что сколько бы раз ни встречалось число в последовательности, при расчете среднего арифметического оно будет учитываться только единожды.<p>

<p>Введите последовательность:</p> 
<%= form_tag("/uniq_array/view", :method => "get") do %> 
<%= label_tag("Ввод:") %> <%= text_field_tag(:arr, [1, 1, 2, 5, 6, 6, 2, 10])%> 
<br/> <br/> 
<%= submit_tag("OK") %> 
<% end %>