<h1>Результат</h1>
<p>Уникальная последовательность</p>
<p><%= @uniq_arr %></p>
<p>Среднее значение уникальной последовательности</p>
<p><%= @mean %></p>
<%= link_to "Ввести другую последовательность", :uniq_array_input %>